.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: lighter;
}

.tag {
  display: inline-flex;
  align-items: center;
  padding: 0.15rem 0.5rem;
  background-color: var(--tag-bg);
  color: var(--tag-text) !important;
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 400;
  font-family: 'Public Sans', sans-serif;
  text-decoration: none;
  box-shadow: var(--tag-shadow);
  transition: all 0.2s ease;
}

.tag:hover {
  box-shadow: var(--tag-shadow-hover);
  background-color: var(--tag-bg-hover);
}
